* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobileNavBar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.xbutton {
  color: white;
  font-size: 55px;
  position: fixed;
  top: 25px;
  right: 40px;
  cursor: pointer;
}
.navList {
  list-style: none;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink {
  margin-bottom: 20px;
  padding: 5px;
  transition: 0.3s;
  border-radius: 10px;
}

.navLink:hover {
  background-color: rgb(19, 23, 22) !important;
}

.navList a {
  font-family: "Julius Sans One", sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
